.glyphicon.spinning {
    animation: spin 1s infinite linear;
    -webkit-animation: spin2 1s infinite linear;
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg); }
    to { transform: scale(1) rotate(360deg); }
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}


textarea {
    resize: none;
}


.progress {background: rgba(245, 220, 220, 1); border: 0px solid rgba(230, 181, 181, 1); border-radius: 0px; height: 13px;}
.progress-bar-custom {background: rgba(181, 112, 112, 1);}

.bf-animated-element {
    /*-webkit-transition: width 0.1s;
    -moz-transition: width 0.1s;
    -o-transition: width 0.1s;*/
    transition: 0.4s;
}

.bf-animated-element-2 {
    /*-webkit-transition: width 0.1s;
    -moz-transition: width 0.1s;
    -o-transition: width 0.1s;*/
    transition: 0.3s 0.3s;
}

.bf-colapsed-content-col {
    visibility: hidden;
    opacity: 0;
}


.bf-alert {

    border: solid 2px #E6B1B1;
    color: #E6B1B1;
    background-color: #FFF9F9;
    padding: 10px;
    font-size: 1.5em;
    width: 80%;
}





.bf-vertical-bar {
    position: absolute;
    transform: rotate(90deg);
    transform-origin: bottom left;
    display: table;
    vertical-align: middle;
    color: #FFF9F9;
    background-color: #E6B1B1;
    width: 9999999px;
    top: -70px;
    left: 5px;

}

.bf-vertical-bar:hover {
    background-color: #F2D8D8;
    cursor: ew-resize;
}


.bf-vertical-text {
    display: table-cell;
    padding: 15px;
}

.bf-vertical-text:hover {

}

.bf-glyphicon-unrotated {
  font-size: 0.9em;
  transform: rotate(-90deg);
}

body {
    background-color: #FFFFFF;
}



.bf-cover-button {
    font-size: 3em;
}

.bf-font-lora {
    font-family: 'Lora', serif ;
}

.cover {
    color: #FFF9F9;
    background: #E6B1B1;
}

.btn-cover, .btn-cover:visited, .btn-cover:active {
    position: relative;
    border: 2px solid #F2D8D8;
    padding: 15px;
    margin: 15px;
    width: 150px;
    height: 150px;
    background: none;
    color: #FFF9F9;
    overflow: hidden;
}

.btn-cover:hover, .btn-cover:focus {
    background: #F2D8D8!important;
    border: 2px solid #F2D8D8!important;
    color: #FFF9F9;

}


.bf-btn, .bf-btn:visited, .bf-btn:active {
    display: table-cell;
    vertical-align: middle;
    border: 3px solid #FFF9F9;
    padding: 15px;
    margin: 15px;
    width: 80%;
    /*background: #E36262;*/
    background: rgb(230, 177, 177);
    color: #FFF9F9;
    font-size: 1.3em;


}

.bf-btn:hover, .bf-btn:focus {
    /*background: #E36262!important;*/
    background: #F2D8D8!important;
    border: 3px solid rgb(230, 177, 177)!important;
    color: #FFF9F9;


}



.variable-card {
    border: 2px solid #F2D8D8;
    background: none;
    margin: 10px;
    height: 250px;
}

.variable-card-sm {

    margin-top: 5px;
    margin-bottom: 5px;
    height: 36px;
    font-size: 1.6em;
    padding-left: 3px;
    padding-right: 3px;
    display: cell;
    vertical-align: middle;
    width: 100%;
    background-color: #e6b1b1;
    text-align: center;
    color: white;
}

.variable-sm-icon-row {

    font-size: 1.5em;
    /*display: table-cell; */
    width: 100%;
    background: none;
}

.variable-sm-icon {

    padding-left: 4px;
    padding-right: 4px;
}

.variable-sm-icon-disabled {
    color: #EDEDED;
}

.variable-sm-icon-enabled {
    color: #F2D8D8;
}

.variable-sm-icon:hover {
    color: #E6B1B1;
}

.bf-icon-hovered {
    color: #E36262;
    background-color: #FFF9F9;
    transition: 0.5s;
}

.variable-card:hover {
    border: 2px solid #9C6262;
}

.variable-card-selected {
    background-color:#F2D8D8;
    -webkit-filter: blur(1px);
    -moz-filter: blur(1px);
    -ms-filter: blur(1px);
    -o-filter: blur(1px);
    filter: blur(1px);
}

.variable-card-selected:hover {

    -webkit-filter: blur(0px);
    -moz-filter: blur(0px);
    -ms-filter: blur(0px);
    -o-filter: blur(0px);
    filter: blur(0px);
}

.variable-card-header {
    background-color: none;/*#E6B1B1;*/
    color: #E6B1B1;
    height: 50px;
    font-size: 16px;
    display: table;
    width: 100%;
}


.variable-card-body {
    background-color: none;
    height: 146px;
    font-size: 18px;
    display: table;
    width: 100%;
    padding: 3px;
}

.variable-card-footer {
    padding: 0px;
    margin: 0px;
    background-color: #F2D8D8;
    font-size: 24px;
    height: 50px;
    line-height: 50px;
    display: table;
    width: 100%;
}

.variable-card-content {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
}

.variable-card-tinyname {
    font-size:2em;
}

.variable-card-fullname {
  font-size: 0.8em;
}

.variable-card-star-unselected {
    font-size: 1.5em;
    color: #FFF9F9;
}

.variable-card-star-selected {
    font-size: 1.5em;
    color: #E6B1B1;
}

.variable-card-star-unselected:hover, .variable-card-star-selected:hover {
    font-size: 1.8em;
}

.actionable-element:hover {
    cursor: pointer;
}

.jumbotron {
    background: #E6B1B1!important;
}

.input-filter {
    border: 2px solid #F2D8D8;
    font-size: 1.6em;
}

.input-filter-icon{
    font-size:1.6em;
    background-color: #F2D8D8;
    color: #FFF9F9;
    border: 2px solid #F2D8D8;
}

.invisible {
    visibility: hidden !important;
}

.hidden {
    display: none;
}

.bf-help-understood {
    font-size: 12px;
    text-decoration: none;
    color: inherit;
}

.bf-help-understood:hover {
    text-decoration: underline;
}

.bf-full-categories {
  text-align: left;
  width: 80%;
  border: solid 1px;
  padding: 5px;
  font-size: 1em;
  font-weight: 500;
  color: grey;
}
.bf-category:hover {
  color: red;
  cursor: pointer;
}
