<div class="jumbotron cover" ng-controller="DatasetController as datasetCtrl">
        <center>
        <img src="./img/cover-pink.png" class="img-responsive"></img>
        <h1 class="bf-font-lora">Generador de Informes</h1>
        <h2>Unidad de Atención al Colaborador BIFAP</h2>
        <div class="row">
            <div class="col-md-2 col-md-offset-4">
                <button class="btn-cover bf-animated-element" ng-click=""><span class="icon-display bf-cover-button"></span><h4 class="bf-font-lora">Usar mis propios datos</h4></button>
            </div>
            <div clasS="col-md-2">
                <button class="btn-cover bf-animated-element" ng-click="datasetCtrl.seedBIFAP($event)">
                    <span ng-hide="tab.loading" class="icon-cloud-1 bf-cover-button"></span>
                    <span ng-show="tab.loading" class="glyphicon glyphicon-refresh spinning bf-cover-button"></span>
                    <h4 class="bf-font-lora" ng-hide="tab.loading">Usar datos BIFAP</h4>
                    <h4 id="loading-progress" class="bf-font-lora" ng-show="tab.loading"></h4>
                    <div ng-show="tab.loading" class="progress">
                      <div id="loading-progress-bar" class="progress-bar progress-bar-custom progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
                    </div>

                </button>

            </div>

        </div>





        </center>
</div>
