<div class="row" style="margin: 10px">
    <center>
    <div class="variable-card-sm bf-selected-to-group-label">
            <div class="bf-font-lora">{{variable.tinyname}}</div>
    </div>
    </center>
</div>

