<div class="row" >

        <div class="col-md-12" >
            <div class="variable-card-sm" ng-class="{'bf-variable-card-sm-non-editing-group': !tab.isGroupBeingEdited }" >
                <div class="bf-font-lora">{{variable.tinyname}}</div>
            </div>
         </div>

    <div class="row variable-sm-icon-row">

        <div class="col-md-6 actionable-element variable-sm-icon variable-sm-icon-enabled" ng-click="datasetCtrl.toggleSelected(variable)">
            <center>
            <span class="glyphicon glyphicon-trash actionable-element" ></span>
            </center>
        </div>


        <div class="col-md-6 actionable-element variable-sm-icon variable-sm-icon-enabled" ng-click="tab.setLayoutNumber(2); tab.setVariableSelectedInReport(variable.id)">
            <center>
            <span class="glyphicon glyphicon-stats" ng-class="{'bf-icon-hovered': tab.isReportHelpHover}"></span>
            </center>
        </div>

    </div>
</div>
