<div class="variable-card bf-animated-element" ng-class="{'variable-card-selected': variable.selected}">
    <center>
    <div class="variable-card-header" >
        <div class="variable-card-content">
            <center>
              <span class="glyphicon glyphicon-search"></span>
            </center>
        </div>
    </div>
    </center>

    <center>
    <div class="variable-card-body">

        <div class="variable-card-content" >
            <center>
              <span class="bf-font-lora variable-card-tinyname">{{variable.tinyname}}</span>
            <p class="variable-card-fullname">{{variable.fullname}}</p>
            </center>
        </div>
    </div>
    </center>
    <center>
    <div class="variable-card-footer">
        <div class="variable-card-content">
            <center>
              <span
                    ng-click="datasetCtrl.toggleSelected(variable)"
                    class="glyphicon glyphicon-star actionable-element"
                    ng-class="{'spinning': variable.loading, 'variable-card-star-selected': variable.selected, 'variable-card-star-unselected': !variable.selected }">
              </span>

            </center>
        </div>
    </div>
    </center>
</div>
