<div class="bf-animated-element" style="padding-left: 50px"  ng-class="{'col-md-3': tab.layout == 0 || tab.layout == 2, 'col-md-10': tab.layout == 1}" >
        <div class="row" style="/*margin-left: 20px; margin-right: 20px;*/">
            <center>
                <h1 class="bf-font-lora">Tu Selección</h1>


                <div id="alertas" class="row bf-animated-element">
                    <div class="bf-alert" role="alert" ng-mouseenter="tab.toggleHoverReportIcon()" ng-mouseleave="tab.toggleHoverReportIcon()" ng-show="datasetCtrl.getSelectedVariables().length > 0 && tab.layout < 2 && !tab.helpReportUnderstood" style="margin-top: 20px">
                      <div class="bf-font-lora">Visualiza el informe pulsando <span class="glyphicon glyphicon-stats"></span></div>
                      <div><a ng-click="tab.helpReportUnderstand()" class="bf-help-understood" href="#">¡Entendido!</a></div>
                    </div>
                </div>


                <div class="row bf-animated-element">
                    <div class="bf-alert" role="alert" ng-show="datasetCtrl.getSelectedVariables().length == 0">
                      <div class="bf-font-lora">
                        <div>Selecciona las variables del catálogo pulsando la estrella</div>
                      </div>
                    </div>

                    <div ng-class="{'col-md-6': tab.layout == 0 || tab.layout == 2, 'col-md-2': tab.layout == 1}" ng-repeat="variable in datasetCtrl.getSelectedVariables()">
                            <bf-variable-card-sm></bf-variable-card-sm>
                    </div>
                </div>




            </center>
        </div>
    </div>
