<div class="bf-animated-element" ng-class="{'col-md-8': tab.layout == 2, 'col-md-1': tab.layout <2}">
    <div class="row">
        <div class="col-md-1">

            <div class="bf-vertical-bar" ng-click="tab.setLayout('report')">
                <div class="bf-vertical-text-container">
                    <h2 class="bf-vertical-text"><span style="" class="glyphicon glyphicon-stats bf-glyphicon-unrotated" ></span><span> Informe</span></h2>
                </div>
            </div>

        </div>

        <div ng-class="{'col-md-11 bf-animated-element-2': tab.layout == 2, 'col-md-1 bf-colapsed-content-col bf-animated-element': tab.layout <2}">

            <center>
                <h1 class="bf-font-lora" style="/*margin-top: 54px*/"><span style="font-size: 0.9em;" class="glyphicon glyphicon-stats" ng-click="datasetCtrl.getReportElements()" ></span> Informe</h1>

                <div ng-repeat="element in datasetCtrl.getReportElements() track by $index">
                    <div style="background-color: #F2D8D8; height: 20px"></div>
                    <div ng-show="element.visible" class="row" style="border: solid 1px #E6B1B1; margin: 5px; padding: 5px">
                        <div class="col-md-12">
                            <h3>{{element.title}}</h3>
                        </div>

                        <div class="row" ng-if="element.type == 'table'" ng-repeat="row in element.cells track by $index">
                            <div class="col-md-3" ng-repeat="cell in row track by $index">{{cell}}</div>
                        </div>

                        <div class="row" ng-if="element.type == 'contingency-table'" ng-repeat="row in element.cells track by $index" style="border: 1px solid; width:95%">
                            <div class="col-md-3" ng-repeat="cell in row track by $index" style="border: 1px solid;">{{cell}}</div>
                        </div>

                        <div class="row" ng-if="element.type == 'multivariable-table'" ng-repeat="row in element.cells track by $index" style="border: 1px solid; width:95%">
                            <div class="col-md-2" ng-repeat="cell in row track by $index" style="border: 1px solid;">{{cell}}</div>
                        </div>

                        <div class="row" ng-if="element.type == 'graph'">
                          <div class="col-md-12">
                            <bf-graph data='element'></bf-graph>
                          </div>
                        </div>

                        <div class="col-md-12">
                            <p>{{element.foot}}</p>
                        </div>
                    </div>

                </div>

            </center>


        </div>
    </div>
</div>
