<div class="bf-animated-element" ng-class="{'col-md-8': tab.layout == 0, 'col-md-1': tab.layout > 0}">
    <div class="row" >
        <div>
            <div class="col-md-1" ng-click="tab.setLayout('catalogue')">
                    <div class="bf-vertical-bar" >
                        <h2 class="bf-vertical-text"><span class="glyphicon glyphicon-th bf-glyphicon-unrotated" ></span><span > Catálogo de variables</span></h2>
                    </div>
            </div>
        </div>

        <div ng-class="{'col-md-11 bf-animated-element-2': tab.layout == 0, 'col-md-1 bf-colapsed-content-col bf-animated-element': tab.layout > 0}">
            <div>
                <center>
                    <h1 class="bf-font-lora"><span style="font-size: 0.9em;" class="glyphicon glyphicon-th"></span> Catálogo de variables</h1>
                    <form class="form-inline" style="width: 100%;">
                        <div class="form-group" >
                            <div class="input-group" style:"display: table">
                                <div class="input-group-addon input-filter-icon actionable-element" ng-click="tab.toggleCategories();" ><span class="glyphicon glyphicon-menu-hamburger" ></span></div>
                                <input id="inputCatalogueSearch" class="form-control input-lg bf-font-lora input-filter" type="text" bf-input-search-variable></input>
                            </div>
                        </div>
                    </form>
                    <div class="row" ng-show="tab.inputSearchIsNull && tab.showFullCatalogue">
                      <div class="row bf-full-categories">
                        <div class="col-md-6">
                          <div class="row" style="font-weight: 800">Fármacos</div>
                          <div class="row bf-category" bf-category>A Sistema digestivo y metabolismo</div>
                          <div class="row bf-category" bf-category>B Sangre y órganos hematopoyéticos</div>
                          <div class="row bf-category" bf-category>C Sistema cardiovascular</div>
                          <div class="row bf-category" bf-category>D Medicamentos dermatológicos</div>
                          <div class="row bf-category" bf-category>G Genitourinario y hormonas sexuales</div>
                          <div class="row bf-category" bf-category>H Preparados hormonales sistemáticos</div>
                          <div class="row bf-category" bf-category>J Antiinfecciosos sistémicos</div>
                          <div class="row bf-category" bf-category>L Antineoplásicos e inmunomoduladores</div>
                          <div class="row bf-category" bf-category>M Sistema musculoesquelético</div>
                          <div class="row bf-category" bf-category>N Sistema nervioso</div>
                          <div class="row bf-category" bf-category>P Antiparasitarios, insecticidas y repelentes</div>
                          <div class="row bf-category" bf-category>R Sistema respiratorio</div>
                          <div class="row bf-category" bf-category>S Órganos de los sentidos</div>
                          <div class="row bf-category" bf-category>V Varios</div>
                        </div>
                        <div class="col-md-6">
                          <div class="row" style="font-weight: 800">Diagnósticos CIAP</div>
                          <div class="row bf-category" bf-category>A. Problemas Generales e Inespecíficos</div>
                          <div class="row bf-category" bf-category>B. Hematología</div>
                          <div class="row bf-category" bf-category>D. Aparato Digestivo</div>
                          <div class="row bf-category" bf-category>F. Ojos y anejos</div>
                          <div class="row bf-category" bf-category>H. Aparato Auditivo</div>
                          <div class="row bf-category" bf-category>L. Aparato Locomotor</div>
                          <div class="row bf-category" bf-category>K. Aparato Circulatorio</div>
                          <div class="row bf-category" bf-category>N. Sistema Nervioso</div>
                          <div class="row bf-category" bf-category>P. Problemas Psicológicos</div>
                          <div class="row bf-category" bf-category>R. Aparato Respiratorio</div>
                          <div class="row bf-category" bf-category>S. Piel y Faneras</div>
                          <div class="row bf-category" bf-category>T. Aparato Endocrino, Metabolismo y Nutrición</div>
                          <div class="row bf-category" bf-category>U. Aparato Urinario</div>
                          <div class="row bf-category" bf-category>W. Embarazo, Parto y Puerperio</div>
                          <div class="row bf-category" bf-category>X. Aparato Genital Femenino y Mamas</div>
                          <div class="row bf-category" bf-category>Y. Aparato Genital Masculino y Mamas</div>
                          <div class="row bf-category" bf-category>Z. Problemas Sociales</div>
                        </div>
                      </div>
                    </div>
                    <!--<div class="row" ng-show="tab.showATCLevel == 'A Sistema digestivo y metabolismo'">
                      <h1>A Sistema digestivo y metabolismo</h1>
                      <div class="row">
                        <div class="row bf-full-categories">
                          <div class="col-md-6">
                            <div class="row bf-category" bf-category>A01 Preparaciones estomatológicas</div>
                            <div class="row bf-category" bf-category>A02 Agentes para el tratamiento de alteraciones causadas por ácidos</div>
                            <div class="row bf-category" bf-category>A03 Agentes contra enfermedades funcionales del estómago e intestino</div>
                            <div class="row bf-category" bf-category>A05 Terapia biliar y hepática</div>
                            <div class="row bf-category" bf-category>A06 Laxantes</div>
                            <div class="row bf-category" bf-category>A07 Antidiarreicos, agentes antiinflamatorios y antiinfecciosos intestinales</div>
                            <div class="row bf-category" bf-category>A08 Preparados contra la obesidad, excluidos productos dietéticos</div>
                          </div>
                          <div class="col-md-6">
                            <div class="row bf-category" bf-category>A09 Digestivos, incluidos enzimas</div>
                            <div class="row bf-category" bf-category>A10 Fármacos usados en diabetes</div>
                            <div class="row bf-category" bf-category>A11 Vitaminas</div>
                            <div class="row bf-category" bf-category>A12 Suplementos minerales</div>
                            <div class="row bf-category" bf-category>A13 Tónicos</div>
                            <div class="row bf-category" bf-category>A14 Agentes anabólicos para uso sistémico</div>
                            <div class="row bf-category" bf-category>A15 Estimulantes del apetito</div>
                            <div class="row bf-category" bf-category>A16 Otros productos para el tracto alimentario y metabolismo</div>
                          </div>
                        </div>
                    </div>-->
                    <div class="row">
                        <div class="col-md-4" ng-repeat="variable in datasetCtrl.getCatalogueVariables()" ng-show="variable.filtered">
                            <bf-variable-card ></bf-variable-card>
                        </div>
                    </div>
                </center>
            </div>
        </div>
    </div>
</div>
